<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pulbert.stopwatchview" >

    <!-- Stopwatch -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="pulbert.library.StopwatchService"
            android:exported="false"
            android:description="@string/stopwatch_service_desc">
            <intent-filter>
                <action android:name="start_stopwatch" />
                <action android:name="lap_stopwatch" />
                <action android:name="stop_stopwatch" />
                <action android:name="reset_stopwatch" />
                <action android:name="share_stopwatch" />
            </intent-filter>
        </service>
    </application>

</manifest>
